.search-area{
  font-size: 16px;
}

#mapArea{
  width: 500px;
  height: 500px;
  margin-right: 50px;
}

#results{
  height: 90%;
  border: 1px dotted;
  padding: 10px;
  overflow-y: scroll;
  background: white;
}

#genreInput{
  width: 100px;
}

#shop-name{
  font-size: 30px;
}

#show-results{
  font-size: 16px;
}

.tweet{
  margin: 30px;
  border: 1px dotted;
}

.col-lg{
  margin-top: 10px;
}

.tweet-hidden{
  display: none;
}

.db-hidden{
  display: none;
}