.detail-table{
  border: 1px dotted;
}

.detail-table-left{
  width: 120px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

.detail-table-right{
  width: 450px;
  padding: 10px;
  font-size: 16px;
}

#mapAreaInShow{
    width: 500px;
}